doctype html
html
	head
		include ../components/head.jade
	body
		include ../components/navbar.jade

		block content
			
		script(src='/js/vue.min.js')
		script(src='/js/axios.min.js')
		script(src='/js/app.min.js')

		block script